.burger_constructor {
	display: flex;
	flex-direction: column;
	gap: 40px;
	width: 600px;
	padding-left: 56px;
}

.elements {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.element {
	display: flex;
	align-items: center;
}

.fillings {
	display: flex;
	flex-direction: column;
	gap: 16px;
	max-height: calc(100vh - 686px);
	padding-right: 8px;
	overflow-y: auto;
}

.total {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.price {
	display: flex;
	align-items: center;
	gap: 8px;
}

.dragOver {
	background-color: rgb(76 76 255 / 10%);
}

.bunPlaceholder,
.emptyFillings {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 180px;
	margin: 10px 0;
	background-color: rgb(76 76 255 / 5%);
	border: 2px dashed #4c4cff;
	border-radius: 8px;
}

.placeholder {
	padding: 20px;
	text-align: center;
}

.element:active {
	cursor: grabbing;
}

.dragging {
	opacity: 0.3;
}
