.container {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
}

.dragIcon {
	position: absolute;
	left: 13px;
	display: flex;
	align-items: center;
	cursor: move;
}

.container:active {
	cursor: grabbing;
}

.dragging {
	opacity: 0.2;
}
