.burger_ingredients {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 600px;
	color: var(--text-primary-color);
	font-family: 'Jet Brains Mono', serif;
}

.scroll {
	height: calc(100vh - 250px);
	padding: 0 16px;
	overflow: hidden auto;
}

.scroll::-webkit-scrollbar {
	width: 8px;
}

.scroll::-webkit-scrollbar-track {
	background: #2f2f37;
}

.scroll::-webkit-scrollbar-thumb {
	background: #8585ad;
}
