.card {
	padding: 24px;
	background: #1c1c21;
	border: 1px solid transparent;
	border-radius: 40px;
	cursor: pointer;
	transition: box-shadow 0.2s ease-in-out;
}

.card:hover {
	border-color: rgb(51 51 255 / 20%);
	box-shadow: 0 4px 32px 0 rgb(51 51 255 / 25%);
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.content {
	display: flex;
	flex-direction: column;
}

.name {
	margin: 0 0 8px;
}

.status {
	margin: 0 0 24px;
}

.statusDone {
	color: #00cccc;
}

.statusPending {
	color: #66ba64;
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.ingredients {
	position: relative;
	display: flex;
	flex: 1;
	align-items: center;
	margin-right: 24px;
}

.ingredientImage {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 64px;
	height: 64px;
	margin-left: -16px; /* Накладывание ингредиентов друг на друга */
	overflow: hidden;
	background: #1c1c21;
	border: 2px solid #6730b3ff;
	border-radius: 50%;
}

.ingredientImage:first-child {
	margin-left: 0; /* Первый ингредиент без сдвига */
}

.ingredientImage img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
}

.ingredientCounter {
	position: absolute;
	inset: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(0 0 0 / 60%);
	border-radius: 50%;
	backdrop-filter: blur(2px);
}

.ingredientCounter span {
	color: #f2f2f3;
	font-weight: 500;
	font-size: 16px;
	text-shadow: 0 0 4px rgb(0 0 0 / 50%);
}

.price {
	display: flex;
	flex-shrink: 0;
	align-items: center;
}

/* Адаптивность */

@media (width <= 768px) {
	.card {
		padding: 20px;
	}

	.header {
		margin-bottom: 20px;
	}

	.status {
		margin-bottom: 20px;
	}

	.ingredients {
		margin-right: 16px;
	}

	.ingredientImage {
		width: 56px;
		height: 56px;
		margin-left: -12px;
	}

	.ingredientImage:first-child {
		margin-left: 0;
	}

	.ingredientCounter span {
		font-size: 14px;
	}
}

@media (width <= 480px) {
	.card {
		padding: 16px;
	}

	.header {
		margin-bottom: 16px;
	}

	.status {
		margin-bottom: 16px;
	}

	.ingredientImage {
		width: 48px;
		height: 48px;
		margin-left: -8px;
	}

	.ingredientImage:first-child {
		margin-left: 0;
	}

	.ingredientCounter span {
		font-size: 12px;
	}
}
